<div class="jumbotron">
  <h1>Pokemon Index</h1>
  <form action="search" method="get">
    <input type="text" name="search_input">
    <button class="submit">Search</button>
  </form>
</div>

<table class="table">
  <thead>

  </thead>
  <tbody>
    <% @search_results_name.each do |pokemon| %>
      <tr>
        <td><%= pokemon.name %></td>
        <td><%= pokemon.element %></td>
        <td><%= pokemon.description %></td>
      </tr>
    <% end %>

    <% @search_results_element.each do |pokemon| %>
      <tr>
        <td><%= pokemon.name %></td>
        <td><%= pokemon.element %></td>
        <td><%= pokemon.description %></td>
      </tr>
    <% end %>

    <% @search_results_description.each do |pokemon| %>
      <tr>
        <td><%= pokemon.name %></td>
        <td><%= pokemon.element %></td>
        <td><%= pokemon.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
