<div class="jumbotron">
  <h1>Pokemon Index</h1>
  <form action="search" method="get">
    <input type="text" name="search_input"/>
    <button class="submit">Search</button>
  </form>
</div>

<table class="table">
  <thead>

  </thead>
  <tbody>

    <% if !@search_results_name.nil? %>
      <% @search_results_name.each do |pokemon| %>
        <tr class="panel panel-default">
          <td><%= pokemon.name %></td>
          <td><%= pokemon.element %></td>
          <td><%= pokemon.description %></td>
        </tr>
      <% end %>
    <% end %>

    <% if !@search_results_element.nil? %>
      <% @search_results_element.each do |pokemon| %>
        <tr class="panel panel-default">
          <td><%= pokemon.name %></td>
          <td><%= pokemon.element %></td>
          <td><%= pokemon.description %></td>
        </tr>
      <% end %>
    <% end %>

    <% if !@search_results_first_letter.nil? %>
      <% @search_results_first_letter.each do |pokemon| %>
        <tr class="panel panel-default">
          <td><%= pokemon.name %></td>
          <td><%= pokemon.element %></td>
          <td><%= pokemon.description %></td>
        </tr>
      <% end %>
    <% end %>

  <% if !@search_results_two_letter.nil? %>
    <% @search_results_two_letter.each do |pokemon| %>
      <tr class="panel panel-default">
        <td><%= pokemon.name %></td>
        <td><%= pokemon.element %></td>
        <td><%= pokemon.description %></td>
      </tr>
    <% end %>
  <% end %>

  </tbody>
</table>
